// Creates Mixin for Border-Radius Cross-Browser Support
@mixin border-radius($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -webkit-border-radius: $radius;
}

// Creates Mixin for Box-Shadow Cross-Browser Support
@mixin box-shadow($x, $y, $blur, $spread, $color) {
  box-shadow: $x $y $blur $spread $color;
  -moz-box-shadow: $x $y $blur $spread $color;
  -ms-box-shadow: $x $y $blur $spread $color;
  -webkit-box-shadow: $x $y $blur $spread $color;
}
