$primary-font: 'Raleway', sans-serif;
$off-black: rgb(9, 9, 9);
$off-white: rgb(250, 250, 250);

$primary-color: #FF3533;

$success: rgb(86, 203, 45);
$failure: rgb(203, 68, 45);
$warning: rgb(244, 153, 46);
$info: rgb(244, 230, 46);

// Media Queries
$break-xs: 480px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;
$break-xl: 1650px;
