#hero {
  background: coral;
  background-image: url('../img/bg/hero.png');
  background-position: center;
  background-size: contain;
  height: auto;
  padding: 23rem 0;
  width: 100%;

  .hero-text {
    color: white;
    font-size: 6em;
    font-weight: 600;
    line-height: 1.2;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.09);
    text-transform: uppercase;
  }
}

#hero.medium {
  padding: 13rem 0;
}

#hero.small {
  padding: 8rem 0;
}
