// Defines Default styling for Regular Hero Image
#hero {
  background: coral;
  background-image: url('../img/bg/hero.png');
  background-position: center;
  background-size: contain;
  height: auto;
  padding: 23rem 0;
  width: 100%;

  // Changes height of Default styling on Mobile Devices
  @media(max-width: $break-xs), (max-width: $break-sm) {
    padding: 15rem 0;
  }

  // Sets Hero-text default styling
  .hero-text {
    color: white;
    font-size: 6em;
    font-weight: 600;
    line-height: 1.2;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.09);
    text-transform: uppercase;

    // Changes font-size for Mobile Devices with hero-text
    @media(max-width: $break-xs), (max-width: $break-sm) {
      font-size: 3em;
    }
  }
}

// Changes height for #hero with medium class
#hero.medium {
  padding: 13rem 0;

  @media(max-width: $break-xs), (max-width: $break-sm) {
    padding: 8rem 0;
  }
}

//Changes height for #hero with small class
#hero.small {
  padding: 8rem 0;

  @media(max-width: $break-xs), (max-width: $break-sm) {
    padding: 4rem 0;
  }
}
