// Defines Default Nav 
#nav {
  border-bottom: 1px solid $off-white;
  @include box-shadow(0, 1px, 12px, -6px, rgba(0, 0, 0, 0.3));
  padding: 10px 0 10px 0;
  margin: 0;
  width: 100%;

  // Removes Nav on Mobile Devices
  @media(max-width: $break-xs), (max-width: $break-sm) {
    display: none;
  }

  // Sets container attributes when within #nav
  .container {
    // Defines Brand Text and Brand Img position
    .brand, .brand-img {
      margin-left: 1px;
    }
  }

  // Sets list-item within ul display and position
  ul li {
    display: inline-block;
    margin-right: 25px;
  }

  // Defines Brand Text styling
  .brand {
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 25px;
  }

  // Defines Brand Img styling
  .brand-img {
    margin-left: 25px;
    
    // Sets Img Styling within brand-img
    img {
      width: 1.6em;
      height: auto;
      position: absolute;}
  }

  // Changes Position of Nav Links within Right Class
  .right {
    float: right;
  }

  // Changes Position of Nav Links within Left Class
  .left {
    display: inline;
    margin-left: 35px;
  }
}

// Sets nav to Bottom of page while remaining fixed there
.nav-bottom {
  position: fixed;
  bottom: 0;

  // Defines Nav Links Position while within nav-bottom
  .right {
    position: fixed;
    right: 50px;
    bottom: 12px;
  }
}

// Defines Default Styling for Nav-Left (Navbar on left of screen)
#left-nav {
  background: rgb(45, 53, 83);
  color: #fff;
  height: 100%;
  position: fixed;
  text-align: center;
  width: 1.1em * 8;
  @include box-shadow(3px, 0px, 15px, -6px, rgba(0, 0, 0, 0.4));

  // Defines Default styling for List-items within UL 
  ul li {
    line-height: 5;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    transition: 0.1s ease;

    // Defines Hover State for List-items
    &:hover {
      background: darken(rgb(45, 53, 83), 5%);
    }
  }

  // Defines Brand-text within Nav-Left
  .brand {
    display: block;
    font-size: 1.3em;
    font-weight: 600;
    margin: 50px 0;
  }
}

// Defines Default styling for Mobile-Nav
#mobile-nav {
  @include box-shadow(0, 1px, 12px, -6px, rgba(0, 0, 0, 0.3));
  display: none;
  margin: 0 auto;
  padding: 10px 0;

  // Defines that only on Mobile this is visible
  @media(max-width: $break-xs), (max-width: $break-sm) {
    display: block;
  }

  // Defines Brand-Text for Mobile-Nav
  .brand {
    margin-left: 25px;
    font-size: 1.3em;
    font-weight: 600;
  }

  // Defines Brand-Img for Mobile-Nav
  .brand-img {
    margin-left: 25px;

    // Sets Styling for Img withing brand-img
    img {
      width: 1.6em;
      height: auto;
    }
  }

  // Defines Position and Sizing of Mobile-Dropper
  .mobile-dropper {
    font-size: 1.6em;
    font-weight: 600;
    position: relative;
    top: -2px;
    right: 25px;
  }

  // Defines Styling for Mobile Nav class
  .mobile-nav {
    background: rgba(0, 0, 0, 0.4);
    color: white;
    display: none;
    text-align: center;
    padding: 8px 0;

    // Sets Position for List-Items
    li {
      padding: 5px 0 3px 0;
    }
  }
}
