@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
.container {
  margin: 0 auto;
  width: 70%; }
  @media (max-width: 414px) {
    .container {
      margin: 0 auto;
      width: 95%; } }

.classic {
  text-decoration: underline; }

.no-effects {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  box-shadow: 0 0 0 0 black !important;
  -moz-box-shadow: 0 0 0 0 black !important;
  -ms-box-shadow: 0 0 0 0 black !important;
  -webkit-box-shadow: 0 0 0 0 black !important; }

.no-border-effect {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -webkit-border-radius: 0 !important; }

.no-box-effect {
  box-shadow: 0 0 0 0 black !important;
  -moz-box-shadow: 0 0 0 0 black !important;
  -ms-box-shadow: 0 0 0 0 black !important;
  -webkit-box-shadow: 0 0 0 0 black !important; }

.inline {
  display: inline; }

.inline-child * {
  display: inline; }

.inline-block {
  display: inline-block; }

.block {
  display: block; }

.hide {
  display: none; }

.fixed {
  position: fixed; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.text-center {
  text-align: center; }

.bulleted {
  list-style: disc; }

.description {
  background: #fafafa;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: 0 0 8px -5px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 8px -5px rgba(0, 0, 0, 0.8);
  -ms-box-shadow: 0 0 8px -5px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 8px -5px rgba(0, 0, 0, 0.8);
  line-height: 1.6;
  padding: 15px 13px; }

.contained {
  display: inline-block; }
  .contained:nth-child(n) {
    width: fit-content; }

.m-15 {
  margin: 15px; }

.mt-15 {
  margin-top: 15px; }

.mb-15 {
  margin-bottom: 15px; }

.mr-15 {
  margin-right: 15px; }

.ml-15 {
  margin-left: 15px; }

.m-25 {
  margin: 25px; }

.mt-25 {
  margin-top: 25px; }

.mb-25 {
  margin-bottom: 25px; }

.mr-25 {
  margin-right: 25px; }

.ml-25 {
  margin-left: 25px; }

.m-50 {
  margin: 50px; }

.mt-50 {
  margin-top: 50px; }

.mb-50 {
  margin-bottom: 50px; }

.mr-50 {
  margin-right: 50px; }

.ml-50 {
  margin-left: 50px; }

.w-75 {
  width: 75%; }

.w-50 {
  width: 50%; }

.w-25 {
  width: 25%; }

.section-hr {
  margin: 20px 0; }

.visible-text {
  background: rgba(0, 0, 0, 0.5);
  padding: 8px 15px; }

.primary {
  color: #FF3533; }

.success {
  color: #0bd932; }

.failure {
  color: #cb442d; }

.info {
  color: #0bd3d9; }

.warning {
  color: #f4992e; }

.background-success {
  background: #0bd932; }

.background-failure {
  background: #cb442d; }

.background-info {
  background: #0bd3d9; }

.background-warning {
  background: #f4992e; }

.btn.success, .toggle.success {
  background: #fff;
  border-color: #0bd932;
  color: #0bd932; }
  .btn.success:hover, .toggle.success:hover {
    background-color: #0bd932;
    color: #fff; }

.btn.warning, .toggle.warning {
  background: #fff;
  border-color: #f4992e;
  color: #f4992e; }
  .btn.warning:hover, .toggle.warning:hover {
    background-color: #f4992e;
    color: #fff; }

.btn.failure, .toggle.failure {
  background: #fff;
  border-color: #cb442d;
  color: #cb442d; }
  .btn.failure:hover, .toggle.failure:hover {
    background-color: #cb442d;
    color: #fff; }

.btn.info, .toggle.info {
  background: #fff;
  border-color: #0bd3d9;
  color: #0bd3d9; }
  .btn.info:hover, .toggle.info:hover {
    background-color: #0bd3d9;
    color: #fff; }

.btn.success-inverse, .toggle.success.inverse {
  background: #0bd932;
  border-color: #0bd932;
  color: #fff; }
  .btn.success-inverse:hover, .toggle.success.inverse:hover {
    background: inherit;
    color: #0bd932; }

.btn.failure-inverse, .toggle.failure-inverse {
  background: #cb442d;
  border-color: #cb442d;
  color: #fff; }
  .btn.failure-inverse:hover, .toggle.failure-inverse:hover {
    background: inherit;
    color: #cb442d; }

.btn.info-inverse, .toggle.info-inverse {
  background: #0bd3d9;
  border-color: #0bd3d9;
  color: #fff; }
  .btn.info-inverse:hover, .toggle.info-inverse:hover {
    background: inherit;
    color: #0bd3d9; }

.btn.warning-inverse, .toggle.warning-inverse {
  background: #f4992e;
  border-color: #f4992e;
  color: #fff; }
  .btn.warning-inverse:hover, .toggle.warning-inverse:hover {
    background: inherit;
    color: #f4992e; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.5; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  line-height: 1.5;
  font-family: "Raleway", sans-serif; }

h1 {
  font-size: 1.8em;
  font-weight: 700; }

h2 {
  font-size: 1.7em;
  font-weight: 600; }

h3 {
  font-size: 1.6em;
  font-weight: 500; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.4em; }

h6 {
  font-size: 1.3em; }

a {
  color: inherit;
  text-decoration: none; }

.lead {
  line-height: 1.6;
  font-weight: 500; }

#nav {
  border-bottom: 1px solid #fafafa;
  box-shadow: 0 1px 12px -6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 12px -6px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 1px 12px -6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 12px -6px rgba(0, 0, 0, 0.3);
  padding: 10px 0 10px 0;
  margin: 0;
  width: 100%; }
  @media (max-width: 414px), (max-width: 768px) {
    #nav {
      display: none; } }
  #nav .container .brand {
    margin-left: 1px; }
  #nav .container .brand-img {
    margin-left: 1px; }
  #nav ul li {
    display: inline-block;
    margin-right: 25px; }
  #nav .brand {
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 25px; }
  #nav .brand-img {
    margin-left: 25px; }
    #nav .brand-img img {
      width: 1.6em;
      height: auto;
      position: absolute; }
  #nav .right {
    float: right; }
  #nav .left {
    display: inline;
    margin-left: 35px; }

.nav-bottom {
  position: fixed;
  bottom: 0; }
  .nav-bottom .right {
    position: fixed;
    right: 50px;
    bottom: 12px; }

#left-nav {
  background: #2d3553;
  color: #fff;
  height: 100%;
  position: fixed;
  text-align: center;
  width: 8.8em;
  box-shadow: 3px 0px 15px -6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 3px 0px 15px -6px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 3px 0px 15px -6px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 3px 0px 15px -6px rgba(0, 0, 0, 0.4); }
  #left-nav ul li {
    line-height: 5;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    transition: 0.1s ease; }
    #left-nav ul li:hover {
      background: #242a42; }
  #left-nav .brand {
    display: block;
    font-size: 1.3em;
    font-weight: 600;
    margin: 50px 0; }

#mobile-nav {
  box-shadow: 0 1px 12px -6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 12px -6px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 1px 12px -6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 12px -6px rgba(0, 0, 0, 0.3);
  display: none;
  margin: 0 auto;
  padding: 10px 0; }
  @media (max-width: 414px), (max-width: 768px) {
    #mobile-nav {
      display: block; } }
  #mobile-nav .brand {
    margin-left: 25px;
    font-size: 1.3em;
    font-weight: 600; }
  #mobile-nav .brand-img {
    margin-left: 25px; }
    #mobile-nav .brand-img img {
      width: 1.6em;
      height: auto; }
  #mobile-nav .mobile-dropper {
    font-size: 1.6em;
    font-weight: 600;
    position: relative;
    top: -2px;
    right: 25px; }
  #mobile-nav .mobile-nav {
    background: rgba(0, 0, 0, 0.4);
    color: white;
    display: none;
    text-align: center;
    padding: 8px 0; }
    #mobile-nav .mobile-nav li {
      padding: 5px 0 3px 0; }

.progress {
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: white;
  text-align: right;
  width: 250px;
  position: relative; }
  .progress .progress-75 {
    height: 25px;
    padding: 0 4px 0 0;
    width: 75%; }
  .progress .progress-50 {
    height: 25px;
    padding: 0 4px 0 0;
    width: 50%; }
  .progress .progress-25 {
    height: 25px;
    padding: 0 4px 0 0;
    width: 25%; }

.progress-circle {
  color: black; }
  .progress-circle span {
    position: relative;
    top: 25px;
    left: 25px; }
  .progress-circle .progress-success-25 {
    border: 5px solid #e1e1e1;
    border-left: 5px solid #0bd932;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 75px;
    height: 75px; }
  .progress-circle .progress-success-50 {
    border: 5px solid #e1e1e1;
    border-bottom: 5px solid #0bd932;
    border-left: 5px solid #0bd932;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 75px;
    height: 75px; }
  .progress-circle .progress-success-75 {
    border: 5px solid #e1e1e1;
    border-bottom: 5px solid #0bd932;
    border-left: 5px solid #0bd932;
    border-right: 5px solid #0bd932;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 75px;
    height: 75px; }
  .progress-circle .progress-success-100 {
    border: 5px solid #e1e1e1;
    border: 5px solid #0bd932;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 75px;
    height: 75px; }
  .progress-circle .progress-info-25 {
    border: 5px solid #e1e1e1;
    border-left: 5px solid #0bd3d9;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 75px;
    height: 75px; }
  .progress-circle .progress-info-50 {
    border: 5px solid #e1e1e1;
    border-bottom: 5px solid #0bd3d9;
    border-left: 5px solid #0bd3d9;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 75px;
    height: 75px; }
  .progress-circle .progress-info-75 {
    border: 5px solid #e1e1e1;
    border-bottom: 5px solid #0bd3d9;
    border-left: 5px solid #0bd3d9;
    border-right: 5px solid #0bd3d9;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 75px;
    height: 75px; }
  .progress-circle .progress-info-100 {
    border: 5px solid #e1e1e1;
    border: 5px solid #0bd3d9;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 75px;
    height: 75px; }
  .progress-circle .progress-warning-25 {
    border: 5px solid #e1e1e1;
    border-left: 5px solid #f4992e;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 75px;
    height: 75px; }
  .progress-circle .progress-warning-50 {
    border: 5px solid #e1e1e1;
    border-bottom: 5px solid #f4992e;
    border-left: 5px solid #f4992e;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 75px;
    height: 75px; }
  .progress-circle .progress-warning-75 {
    border: 5px solid #e1e1e1;
    border-bottom: 5px solid #f4992e;
    border-left: 5px solid #f4992e;
    border-right: 5px solid #f4992e;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 75px;
    height: 75px; }
  .progress-circle .progress-warning-100 {
    border: 5px solid #e1e1e1;
    border: 5px solid #f4992e;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 75px;
    height: 75px; }
  .progress-circle .progress-failure-25 {
    border: 5px solid #e1e1e1;
    border-left: 5px solid #cb442d;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 75px;
    height: 75px; }
  .progress-circle .progress-failure-50 {
    border: 5px solid #e1e1e1;
    border-bottom: 5px solid #cb442d;
    border-left: 5px solid #cb442d;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 75px;
    height: 75px; }
  .progress-circle .progress-failure-75 {
    border: 5px solid #e1e1e1;
    border-bottom: 5px solid #cb442d;
    border-left: 5px solid #cb442d;
    border-right: 5px solid #cb442d;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 75px;
    height: 75px; }
  .progress-circle .progress-failure-100 {
    border: 5px solid #e1e1e1;
    border: 5px solid #cb442d;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 75px;
    height: 75px; }

.btn {
  border: 1px solid #000;
  border-radius: 2px;
  display: inline-block;
  padding: 4px 10px;
  transition: 0.2s ease; }
  .btn:hover {
    background: #000;
    color: #fff; }

.btn-lg {
  border: 1px solid #000;
  border-radius: 2px;
  font-size: 1.1em;
  padding: 8px 18px;
  transition: 0.2s ease; }
  .btn-lg:hover {
    background: #000;
    color: #fff; }

.badge {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -webkit-border-radius: 6px;
  color: white;
  padding: 6px 20px; }

#cover {
  background: #fafafa;
  font-size: .8em;
  height: 100%;
  left: 0;
  position: fixed;
  width: 100%;
  text-align: center;
  top: 0;
  z-index: 99999; }
  #cover .loader {
    animation: cover 1.3s ease infinite;
    border: 5px solid #fafafa;
    border-radius: 50%;
    border-top: 5px solid #0bd932;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: calc(25% - 80px);
    width: 80px; }
@keyframes cover {
  0% {
    transform: rotate(0deg);
    -moz-transform: rotate(0deg); }
  100% {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg); } }
.card-img {
  border: 1px solid #fafafa;
  box-shadow: 0 0 12px -6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 12px -6px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 0 12px -6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 12px -6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 415px; }
  @media (max-width: 414px), (max-width: 768px) {
    .card-img {
      width: 300px; } }
  .card-img .img img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 3px 8px -4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 3px 8px -4px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0 3px 8px -4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 3px 8px -4px rgba(0, 0, 0, 0.4);
    height: 225px;
    width: 100%; }
    @media (max-width: 414px), (max-width: 768px) {
      .card-img .img img {
        height: 110px; } }
  .card-img .img span {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.2em;
    left: 5px;
    padding: 5px 15px;
    position: relative;
    top: -85px; }
  .card-img .body {
    margin-top: -35px;
    padding: 20px; }
    .card-img .body h6 {
      float: left;
      width: 60%; }
      @media (max-width: 414px), (max-width: 768px) {
        .card-img .body h6 {
          float: none;
          width: 100%; } }
    .card-img .body span {
      color: #949494;
      margin-top: 8px;
      font-size: .8em;
      float: right; }
      @media (max-width: 414px), (max-width: 768px) {
        .card-img .body span {
          float: none; } }
    .card-img .body p {
      clear: both;
      margin-top: 40px; }
      @media (max-width: 414px), (max-width: 768px) {
        .card-img .body p {
          margin-top: 15px; } }

.card {
  border: 1px solid #fafafa;
  box-shadow: 0 0 12px -6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 12px -6px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 0 12px -6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 12px -6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 20px;
  width: 415px; }
  @media (max-width: 414px), (max-width: 768px) {
    .card {
      width: 260px; } }
  .card span {
    color: #949494;
    font-size: .8em; }
  .card p {
    margin-top: 15px; }
  .card .toggle {
    box-shadow: 0 0 15px -3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 15px -3px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0 0 15px -3px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 15px -3px rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    cursor: pointer;
    font-size: 2.3em;
    font-weight: 600;
    float: right;
    height: 45px;
    margin-top: 10px;
    text-align: center;
    transition: 0.5s ease;
    width: 45px; }
    .card .toggle:hover {
      box-shadow: 0 0 13px -3px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 0 13px -3px rgba(0, 0, 0, 0.3);
      -ms-box-shadow: 0 0 13px -3px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0 0 13px -3px rgba(0, 0, 0, 0.3); }

.togglable {
  padding-bottom: 35px; }
  .togglable .plus::after {
    content: '\002B';
    position: relative;
    top: -4px;
    left: 0px; }

.card-grid {
  display: grid;
  grid-template-areas: 'card card card';
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px; }
  @media (max-width: 1200px) {
    .card-grid {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'card'; } }
  @media (max-width: 768px), (max-width: 992px) {
    .card-grid {
      grid-template-areas: 'card' 'card' 'card';
      grid-template-columns: 1fr; } }
  .card-grid .card {
    grid-area: 'card'; }
    .card-grid .card .toggle {
      position: relative;
      top: 20px; }
  .card-grid .togglable {
    padding-bottom: inherit; }

#hero {
  background: coral;
  background-image: url("../img/bg/hero.png");
  background-position: center;
  background-size: contain;
  height: auto;
  padding: 23rem 0;
  width: 100%; }
  @media (max-width: 414px), (max-width: 768px) {
    #hero {
      padding: 15rem 0; } }
  #hero .hero-text {
    color: white;
    font-size: 6em;
    font-weight: 600;
    line-height: 1.2;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.09);
    text-transform: uppercase; }
    @media (max-width: 414px), (max-width: 768px) {
      #hero .hero-text {
        font-size: 3em; } }

#hero.medium {
  padding: 13rem 0; }
  @media (max-width: 414px), (max-width: 768px) {
    #hero.medium {
      padding: 8rem 0; } }

#hero.small {
  padding: 8rem 0; }
  @media (max-width: 414px), (max-width: 768px) {
    #hero.small {
      padding: 4rem 0; } }

.flex-grid {
  display: flex; }

.flex-grid .col {
  flex: 1; }

.flex-grid-thirds {
  display: flex;
  justify-content: space-between; }

.flex-grid-thirds .col {
  width: 32%; }

@media (max-width: 414px), (max-width: 768px) {
  .flex-grid,
  .flex-grid-thirds {
    display: block; }
    .flex-grid .col,
    .flex-grid-thirds .col {
      width: 100%;
      margin: 0 0 10px 0;
      padding: 30px 0; } }
.flex-grid {
  margin: 0; }

.col {
  padding: 30px; }

/*# sourceMappingURL=app.css.map */
